// Fonts
$font-primary: "Roboto", sans-serif;

// Sizes
$font-size-highlight: 36px;
$font-size-secondary: 20px;
$font-size-small: 14px;

//Colors
$color-primary: #E0D8B0;
$color-secondary: #DEA057;
$color-terciary: #CE9461;