@import '../abstracts/variables';

.banner {
    background: url(../../imagens/banner.jpeg);
    background-repeat: no-repeat;
    background-position: 27%;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__texts {
        text-align: center;
        &--main {
            color: $color-primary;
            font-size: 3rem;
        }
        &--aside {
            color: $color-secondary;
            font-size: 1.5rem;
        }
    }
}